Repository Simple-Station/Parkstation-Friendly-Chainsaw, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DEATHB4DEFEAT, @Pspritechologist, @AriaMoradi, @TemporalPrdx

.github/CODEOWNERS:

# Last match in file takes precedence.

/.* @DEATHB4DEFEAT


/Content.*/ @DEATHB4DEFEAT
/Content.*/Parkstation/ @Pspritechologist @DEATHB4DEFEAT


/Resources/ @DEATHB4DEFEAT

/Resources/Audio/Parkstation @Pspritechologist @DEATHB4DEFEAT

/Resources/Maps/ @Pspritechologist @DEATHB4DEFEAT

/Resources/Prototypes/Maps @Pspritechologist @DEATHB4DEFEAT
/Resources/Prototypes/Parkstation/ @Pspritechologist @DEATHB4DEFEAT

/Resources/Textures/Parkstation/ @Pspritechologist @DEATHB4DEFEAT

*.ftl @Pspritechologist @DEATHB4DEFEAT


/Scripts/ @DEATHB4DEFEAT
/Scripts/sh/ @AriaMoradi

/sloth.txt @Pspritechologist @DEATHB4DEFEAT @TemporalPrdx

Improve Issues (#62)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
Owners: @DEATHB4DEFEAT

fix test
  Resources/Prototypes/Entities/Clothing/Head/soft.yml
Owners: @DEATHB4DEFEAT

Port Drop on Slip (#54)
  Content.Server/Parkstation/Slippery/DropOnSlipComponent.cs
  Content.Server/Parkstation/Slippery/DropOnSlipSystem.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Resources/Locale/en-US/parkstation/Content/Slippery/dropOnSlip.ftl
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Clothing/Head/soft.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Automatic Changelog Update (#54)
  Resources/Changelog/ParkstationChangelog.yml
Owners: @DEATHB4DEFEAT

fix build error
  Content.Server/Fax/FaxMachineComponent.cs
Owners: @DEATHB4DEFEAT

squoesh
  Content.Server/Corvax/GameTicking/RoundStartedEvent.cs
  Content.Server/Corvax/StationGoal/StationGoalCommand.cs
  Content.Server/Corvax/StationGoal/StationGoalPaperComponent.cs
  Content.Server/Corvax/StationGoal/StationGoalPaperSystem.cs
  Content.Server/Corvax/StationGoal/StationGoalPrototype.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Parkstation/Speech/Components/RandomBarkComponent.cs
  Content.Server/Parkstation/Speech/Systems/RandomBarkSystem.cs
  Content.Shared/Corvax/CCVars/CCCVars.cs
  Content.Shared/Parkstation/Physics/FrictionRemoverSystem.cs
  Resources/Prototypes/Corvax/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Corvax/Objectives/goals.yml
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/familiars.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/chief_justice.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Medical/medical_borg.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/gladiator.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/Parkstation/Roles/Jobs/Service/chief_service_supervisor.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
Owners: @DEATHB4DEFEAT, @Pspritechologist

remove duplicate namepreset-first
  Content.Shared/Humanoid/NamingSystem.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Locale/en-US/species/namepreset.ftl
Owners: @DEATHB4DEFEAT, @Pspritechologist

fix empathy
  Content.Server/Parkstation/Chat/ESayCommand.cs
  Content.Server/Parkstation/Species/Shadowkin/Systems/ShadowkinPowerSystem.DarkSwap.cs
  Content.Server/Parkstation/Species/Shadowkin/Systems/ShadowkinPowerSystem.Teleport.cs
  Content.Shared/Chat/ChatChannel.cs
  Content.Shared/Chat/ChatSelectChannel.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Parkstation/Species/Shadowkin/Components/ShadowkinLightComponent.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

ghosts can see darkswapped Shadowkin
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Parkstation/Species/Shadowkin/Systems/ShadowkinPowerSystem.DarkSwap.cs
Owners: @DEATHB4DEFEAT, @Pspritechologist

fix rest ability
  Content.Server/Parkstation/Species/Shadowkin/Systems/ShadowkinPowerSystem.Rest.cs
  Resources/Prototypes/Parkstation/Magic/shadowkin.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

fix tests
  Resources/Locale/en-US/parkstation/Traits/disabilities.ftl
  Resources/Prototypes/Parkstation/Traits/disabilities.yml
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/meta.json
Owners: @Pspritechologist, @DEATHB4DEFEAT

fix tests
  Resources/Prototypes/Parkstation/Entities/Clothing/Head/hardsuits.yml
  Resources/Prototypes/Parkstation/Entities/Objects/Misc/handcuffs.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

consistent variable rest
  Content.Server/Parkstation/Species/Shadowkin/Systems/ShadowkinPowerSystem.Rest.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT
