Repository Simple-Station/Parkstation-Friendly-Chainsaw, pull requests merged in 2023-10, with the labels that each got.

#1 PR and Issue Improvements
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
Labels: Status: Needs Review

#3 Scripts
  Scripts/bat/!README.txt
  Scripts/bat/buildAllDebug.bat
  Scripts/bat/buildAllRelease.bat
  Scripts/bat/runQuickAll.bat
  Scripts/bat/runQuickClient.bat
  Scripts/bat/runQuickServer.bat
  Scripts/bat/runTestsIntegration.bat
  Scripts/bat/runTestsYAML.bat
  Scripts/sh/!README.txt
  Scripts/sh/buildAllDebug.sh
  Scripts/sh/buildAllRelease.sh
  Scripts/sh/runQuickAll.sh
  Scripts/sh/runQuickClient.sh
  Scripts/sh/runQuickServer.sh
  Scripts/sh/runTestsIntegration.sh
  Scripts/sh/runTestsYAML.sh
Labels: Status: Needs Review

#5 Park logo
  Resources/Textures/Logo/Icon.png
  Resources/Textures/Logo/icon-license.txt
  Resources/Textures/Logo/icon.ico
  Resources/Textures/Logo/icon.svg.OUTOFDATE
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-512x512.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/logo.svg
  Resources/Textures/Logo/logo_hires.png
  Resources/Textures/Logo/parkstation-logo.svg
  Resources/manifest.yml
Labels: Changes: YML, Status: Needs Review

#7 CHOCCY MILK!
  Resources/Locale/en-US/simplestation14/Prototypes/Reagents/food.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/SimpleStation14/Reagents/Consumables/Drink/chocolate.yml
  Resources/Prototypes/SimpleStation14/Recipes/Reactions/drink.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#4 Expedition music
  Content.Server/Salvage/Expeditions/SalvageExpeditionComponent.cs
  Content.Server/Salvage/SalvageSystem.Runner.cs
  Resources/Audio/SimpleStation14/Music/attributions.yml
  Resources/Audio/SimpleStation14/Music/deadline.ogg
  Resources/Prototypes/SimpleStation14/SoundCollections/Music/events.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#9 Fingerless Insuls
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robodrobe.yml
  Resources/Prototypes/SimpleStation14/Entites/Clothing/Hands/gloves.yml
  Resources/Textures/SimpleStation14/Clothing/Hands/Gloves/fingerless_insuls.rsi/equipped-HAND.png
  Resources/Textures/SimpleStation14/Clothing/Hands/Gloves/fingerless_insuls.rsi/icon.png
  Resources/Textures/SimpleStation14/Clothing/Hands/Gloves/fingerless_insuls.rsi/inhand-left.png
  Resources/Textures/SimpleStation14/Clothing/Hands/Gloves/fingerless_insuls.rsi/inhand-right.png
  Resources/Textures/SimpleStation14/Clothing/Hands/Gloves/fingerless_insuls.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review
