Repository Simple-Station/Parkstation-Friendly-Chainsaw, pull requests merged in 2024-08, with the labels that each got.

#49 Soap Improvements
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
Labels: Changes: YML, Size: 5-Very Small, Priority: 4-Low, Status: Needs Review

#62 Improve Issues
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: Size: 5-Very Small, Priority: 2-High, Status: Needs Review

#54 Port Drop on Slip
  Content.Server/Parkstation/Slippery/DropOnSlipComponent.cs
  Content.Server/Parkstation/Slippery/DropOnSlipSystem.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Resources/Locale/en-US/parkstation/Content/Slippery/dropOnSlip.ftl
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Clothing/Head/soft.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review
