Repository Simple-Station/Parkstation-Friendly-Chainsaw, pull requests merged in 2024-01, with the labels that each got.

#34 Update README
  README.md
Labels: Changes: Documentation, Size: Very Small

#28 Add admin ghost sprite
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost_admin.rsi/animated.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost_admin.rsi/icon.png
  Resources/Textures/SimpleStation14/Mobs/Ghosts/ghost_admin.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#11 Random Bark
  Content.Server/SimpleStation14/Speech/Components/RandomBarkComponent.cs
  Content.Server/SimpleStation14/Speech/Systems/RandomBarkSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#37 Rename Shiva to Geoff
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: Changes: Localization, Changes: YML, Priority: 3-Medium, Size: Very Small, Status: Needs Review

#38 Tips
  Resources/Prototypes/Datasets/tips.yml
Labels: Size: Small, Changes: YML, Priority: 4-Low

#39 Invert the Running/Walking States
  Content.IntegrationTests/Tests/Slipping/SlippingTest.cs
  Content.Shared/Movement/Components/InputMoverComponent.cs
  Content.Shared/Movement/Components/MovementSpeedModifierComponent.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: Very Small, Priority: 2-High, Status: Needs Review

#40 Build Only Tests with DebugOpt to Save Time
  Scripts/bat/buildAllDebug.bat
  Scripts/bat/buildAllRelease.bat
  Scripts/bat/runQuickAll.bat
  Scripts/bat/runQuickClient.bat
  Scripts/bat/runQuickServer.bat
  Scripts/bat/runTests.bat
  Scripts/bat/runTestsIntegration.bat
  Scripts/bat/runTestsYAML.bat
  Scripts/sh/buildAllDebug.sh
  Scripts/sh/buildAllRelease.sh
  Scripts/sh/runTests.sh
  Scripts/sh/runTestsIntegration.sh
  Scripts/sh/runTestsYAML.sh
Labels: Size: Small

#41 Make Diona Slow Again
  Resources/Prototypes/Body/Parts/diona.yml
Labels: Changes: YML, Size: Very Small, Priority: 4-Low
