Repository Simple-Station/Parkstation-Friendly-Chainsaw, pull requests merged in 2024-03, with the labels that each got.

#58 Port the Parkstation ConfigPreset
  Resources/ConfigPresets/SimpleStation14/Parkstation.toml
Labels: Size: Very Small, Priority: 2-High, Status: Needs Review

#57 Remove the Scream Action
  Content.Server/Speech/EntitySystems/VocalSystem.cs
Labels: Changes: C#, Priority: 3-Medium, Size: Very Small, Status: Needs Review

#60 Add Config and Workflow PR Labels
  .github/labeler.yml
Labels: Size: Very Large, Priority: 2-High, Status: Needs Review

#61 Scale Material Sprites Down
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/crystal_shard.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Materials/materials.yml
Labels: Size: Small, Changes: YML, Priority: 4-Low, Status: Needs Review

#66 Rename Entites Folder to Entities
  Resources/Prototypes/SimpleStation14/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/SimpleStation14/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/SimpleStation14/Entities/Clothing/Head/hardsuits.yml
Labels: Changes: YML, Status: Needs Review
